<html>
<head><title>Template</title></head>
<body style="font-family:verdana">
    <table style="width: 733px;" border="1">
        <tbody>
            <tr style="height: 93px;">
                <td style="width: 195px; height: 269px;" rowspan="2">
                    <strong>D depot / <em>D</em> </strong><strong><em>D&eacute;p&ocirc;t</em></strong><br>
                    &lt;Delivery Depot name&gt;<br>
                    &lt; address &ndash; Road&gt;<br>
                    &lt;Del Depot address&gt; &nbsp;<br>
                    &lt;Postcode, Town&gt;<br>
                    &lt;Country&gt;<br>
                    (: &lt;(+33) 111 555 666&gt;<br>
                    &nbsp;<br>
                    <strong>Company#/ <em>Compagnie #</em>: </strong><br>
                    <strong>&lt;</strong>222333444555 66&gt;<br>
                    <strong>VAT #: </strong>&lt;FR 11&nbsp;222&nbsp;333 444&gt;<br>
                </td>
                <td style="width: 326px; height: 93px;" colspan="6">
                    &nbsp;<strong>C Hub: </strong>FRH001C<strong>&nbsp;&nbsp;&nbsp; D Hub: </strong>FRH001C<br>
                    <strong>Booking /</strong> <strong><em>R&eacute;servation</em></strong><strong> :&nbsp; </strong>&lt;dd/mm/yyyy HH:MM&gt;<br>
                </td>
                <td style="width: 190px; height: 93px;" colspan="3">
                    <strong>Service / <em>Un service</em>: </strong><br>
                    <strong>C - </strong>&lt;Premium&gt;<br>
                    <strong>D</strong> - &lt;Economy&gt;<br>
                </td>
            </tr>
            <tr style="height: 176px;">
                <td style="width: 275px; height: 176px;" colspan="5">
                    <strong>&nbsp;</strong><br>
                    <strong>&nbsp;</strong><br>
                    <strong>Consignment # / <em>Consignation #</em></strong>:<br>
                    <strong>&lt;UKFR10008165</strong><strong>&gt;</strong><br>
                </td>
                <td style="width: 241px; height: 176px;" colspan="4">
                    <strong>Pallet Type / <em>Type de palette: </em></strong>&lt;EURO&gt;<br>
                    <strong># of Pallets / <em># de palettes:</em> </strong>&lt;4&gt;<br>
                    <strong>Gross weight/<em>Poids brut </em>(kg): </strong>&lt;2400&gt;<br>
                    <strong>&nbsp;</strong><br>
                    <strong>&nbsp;</strong><br>
                    <strong>&nbsp;</strong><br>
                </td>
            </tr>
            <tr style="height: 264px;">
                <td style="width: 195px; height: 264px;">
                    <strong>O Depot / <em>O D&eacute;p&ocirc;t</em>:</strong><br>
                    &lt;name&gt;<br>
                    &lt;address&gt;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                    &lt;Postcode&gt;<br>
                    &lt;Town&gt;<br>
                    &lt;Country&gt;<br>
                    (:&lt; (+37) 101 525 692&gt;<br>
                    &nbsp;<br>
                    <strong>Customer ref #&nbsp;/ <em>R&eacute;f&eacute;rence client #</em>: </strong><br>
                    <strong>&lt;</strong>999999&gt;<br>
                </td>
                <td style="width: 275px; height: 264px;" colspan="5">
                    <strong>Collection details&nbsp;/ <em>D&eacute;tails de la collection</em>:</strong><br>
                    &lt;name&gt;<br>
                    &lt;address&gt;<br>
                    &lt;Postcode&gt;<br>
                    &lt;Town&gt;<br>
                    &lt;Country&gt;<br>
                    (:&lt; (+37) 101 525 692&gt;<br>
                    <strong>Open from / <em>Ouvrir &agrave; partir</em> :</strong><br>
                    &lt;08&nbsp;: 00&gt; - &lt;18&nbsp;: 00&gt;<br>
                </td>
                <td style="width: 241px; height: 264px;" colspan="4">
                    <strong>Customer / <em>Client</em>:</strong><br>
                    &lt;name&gt;<br>
                    &lt;address&gt;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                    &lt;Postcode&gt;<br>
                    &lt;Town&gt;<br>
                    &lt;Country&gt;<br>
                    (:&lt; (+42) 208 577 923&gt;<br>
                    <strong>Open from / <em>Ouvrir &agrave; partir</em> :</strong><br>
                    &lt;00&nbsp;: 00&gt; - &lt;00&nbsp;: 00&gt;<br>
                </td>
            </tr>
            <tr style="height: 35px;">
                <td style="width: 195px; height: 35px;">
                    <strong>O Depot&nbsp;</strong><strong>/ <em>O D&eacute;p&ocirc;t</em></strong><strong>: &lt;</strong>FRD001&gt;<br>
                </td>
                <td style="width: 275px; height: 35px;" colspan="5">
                    <strong>C Depot&nbsp;</strong><strong>/ <em>C D&eacute;p&ocirc;t</em></strong><strong>: &lt;</strong>FRD001&gt;<br>
                </td>
                <td style="width: 241px; height: 35px;" colspan="4">
                    <strong>D Depot&nbsp;</strong><strong>/ <em>D D&eacute;p&ocirc;t</em></strong><strong>: &lt;</strong>FRD003&gt;<br>
                </td>
            </tr>
            <tr style="height: 107px;">
                <td style="width: 195px; height: 214px;" rowspan="2">
                    <strong>Description of goods</strong><br>
                    <strong>/ <em>Description des biens</em>:</strong><br>
                    &lt;Dry goods&gt;<br>
                    <strong>&nbsp;</strong><br>
                    <strong>&nbsp;</strong><br>
                </td>
                <td style="width: 275px; height: 107px;" colspan="5">
                    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                    &nbsp;<br>
                    &nbsp;<br>
                </td>
                <td style="width: 241px; height: 107px;" colspan="4">
                    <strong>Insurance </strong><br>
                    <strong>/ <em>Assurance:</em></strong><br>
                    &lt;CMR&gt;<br>
                    &nbsp;<br>
                </td>
            </tr>
            <tr style="height: 107px;">
                <td style="width: 104px; height: 107px;">
                    <strong>Pallet #</strong><br>
                    <strong>/ Palette #</strong><br>
                </td>
                <td style="width: 50px; height: 107px;">
                    <strong>Size / Taille</strong><br>
                    <span style="text-decoration: line-through;">&nbsp;</span><br>
                </td>
                <td style="width: 46px; height: 107px;">
                    <strong>LQ</strong><br>
                    <strong>(kg)</strong><br>
                </td>
                <td style="width: 57px; height: 107px;" colspan="2">
                    <strong>Height</strong><br>
                    <strong>/<em>la taille</em></strong><br>
                    <strong>(m)</strong><br>
                </td>
                <td style="width: 85px; height: 107px;" colspan="2">
                    <strong>Length</strong><br>
                    <strong><em>/Longueur</em></strong><strong><br /> (m)</strong><br>
                </td>
                <td style="width: 74px; height: 107px;">
                    <strong>Width</strong><br>
                    <strong>/<em>Largeur</em><br /> (m)</strong><br>
                </td>
                <td style="width: 70px; height: 107px;">
                    <strong>Weight </strong><br>
                    <strong>/<em>Poids</em></strong><br>
                    <strong>(kg)</strong><br>
                    &nbsp;<br>
                </td>
            </tr>
            <tr style="height: 371px;">
                <td style="width: 195px; height: 371px;">
                    <strong>Special instructions </strong><br>
                    <strong>/ <em>Instructions sp&eacute;ciales</em>:</strong><br>
                    <strong>&nbsp;</strong><br>
                    <strong>Collection / <em>Collection</em>:</strong><br>
                    &lt;Use side entrance&gt;<br>
                    &nbsp;<br>
                    <strong>&nbsp;</strong><br>
                    <strong>&nbsp;</strong><br>
                    <strong>&nbsp;</strong><br>
                    <strong>Delivery / <em>Livraison</em>:</strong><br>
                    &lt;Use front entrance&gt;<br>
                </td>
                <td style="width: 104px; height: 371px;">
                    <strong>&lt;</strong>0000912873&gt;<br>
                    <strong>&lt;</strong>0000912873&gt;<br>
                    <strong>&lt;</strong>0000912873&gt;<br>
                    <strong>&lt;</strong>0000912873&gt;<br>
                    <strong>&lt;</strong>0000912873&gt;<br>
                    <strong>&lt;</strong>0000912873&gt;<br>
                    <strong>&lt;</strong>0000912873&gt;<br>
                    <strong>&lt;</strong>0000912873&gt;<br>
                    <strong>&lt;</strong>0000912873&gt;<br>
                    <strong>&lt;</strong>0000912873&gt;<br>
                    <strong>&lt;</strong>0000912873&gt;<br>
                    <strong>&lt;</strong>0000912873&gt;<br>
                    <strong>&lt;</strong>0000912873&gt;<br>
                    <strong>&lt;</strong>0000912873&gt;<br>
                    <strong>&lt;</strong>0000912873&gt;<br>
                </td>
                <td style="width: 50px; height: 371px;">
                    MF<br>
                </td>
                <td style="width: 46px; height: 371px;">
                    &lt;0.5&gt;<br>
                </td>
                <td style="width: 57px; height: 371px;" colspan="2">
                    &lt;0.5&gt;<br>
                </td>
                <td style="width: 85px; height: 371px;" colspan="2">
                    &lt;0.5&gt;<br>
                </td>
                <td style="width: 74px; height: 371px;">
                    &lt;0.5&gt;<br>
                </td>
                <td style="width: 70px; height: 371px;">
                    &lt;1000&gt;<br>
                </td>
            </tr>
            <tr style="height: 83px;">
                <td style="width: 195px; height: 83px;">
                    <strong>Sender&rsquo;s stamp </strong><br>
                    <strong>/ <em>Timbre de l'exp&eacute;diteur</em></strong><br>
                    <strong>&nbsp;</strong><br>
                </td>
                <td style="width: 249px; height: 83px;" colspan="4">
                    <strong>Carrier&rsquo;s signature &amp; stamp </strong><br>
                    <strong>/ <em>Signature et timbre du transporteur</em></strong><br>
                </td>
                <td style="width: 267px; height: 83px;" colspan="5">
                    <strong>Recipient&rsquo;s signature &amp; stamp </strong><br>
                    <strong>/ <em>Signature et tampon du destinataire</em> </strong><br>
                </td>
            </tr>
        </tbody>
    </table>
    <h1>&nbsp;</h1>
</body>
</html>